{% macro render_input(form_field, show_label=True, placeholder='') %}
    {% if show_label %}
        {{ form_field.label(class_='form-label') }}
    {% endif %}
    {{ form_field(
        class_='form-control' if not form_field.errors else 'form-control is-invalid',
        placeholder=placeholder or form_field.label.text
    ) }}
    {% if form_field.errors %}
        {% for error in form_field.errors %}
            <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
    {% endif %}
{% endmacro %}