<div class="row row-deck row-cards" id="unsorted-transactions-list">
  {% for t in transactions %}
  <div class="col-12">
    <div class="card">
      <div
        class="card-status-start {% if t.status == 'OK' %}bg-success{% else %}bg-danger{% endif %}"
      ></div>
      <div class="card-header p-3">
        <div>
          <h3 class="card-title">{{ "%.2f"|format(t.amount) }}</h3>
          <p class="card-subtitle small">{{ t.datetime }}</p>
          <p class="text-secondary mb-0">{{ t.description }}</p>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
